/* Sidebar */
.sidebar {
  width: 342px;
  height: 100%;
  background-image: url('../assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 15px;
  row-gap: 1.5rem;
}

/* StepOne */
.step__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.step__container--inputs {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.step__container--buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* StepTwo */

.step__container--plans {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.step__container--toggle_container {
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1rem 0;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--magnolia);
}
.step__container--toggle_container-slider {
  display: flex;
  align-items: center;
}

.step__container--toggle_container span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cool-gray);
  margin: 0 1.5rem;

  transition: color 200ms ease;
}

.step__container--toggle_container-slider label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: var(--marine-blue);
  cursor: pointer;
}

.step__container--toggle_container-slider label::before {
  position: absolute;
  content: '';
  background-color: var(--white);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 3px;
  transition: transform 200ms;
}

.step__container--toggle_container-slider input {
  display: none;
}

.step__container--toggle_container-slider input:checked + label::before {
  transform: translateX(25px);
}

/* StepThree */
.step__container--add {
  flex-grow: 1;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* StepFive */
.step__container--center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step__container--center_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.step__container--center_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.step__container--center h1 {
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
  font-size: 2.25rem;
  color: var(--marine-blue);
}

.step__container--center p {
  max-width: 550px;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.2rem;
  line-height: 32px;
  color: var(--cool-gray);
}
